
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokédex Flask</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container py-5">
    <h1 class="text-center mb-4">POKEAPI</h1>

    <form method="GET" class="mb-4">
      <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Buscar Pokémon por nombre..." value="{{ search_query }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </form>

    {% if pokemon_list %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for pokemon in pokemon_list %}
      <div class="col">
        <div class="card h-100 text-center">
          <img src="{{ pokemon.image }}" class="card-img-top p-3" alt="{{ pokemon.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            <p class="card-text">
              <strong>Tipo:</strong> {{ pokemon.types | join(', ') }}<br>
              <strong>Altura:</strong> {{ pokemon.height }}<br>
              <strong>Peso:</strong> {{ pokemon.weight }}<br>
              <strong>Habilidades:</strong> {{ pokemon.abilities | join(', ') }}<br>
              <strong> Status:</strong> {{pokemon.stats | join(', ')}}<br>
              <strong>Movimientos:</strong>{{pokemon.moves |join (', ')}}<br>
              <strong>Generacion:</strong>{{pokemon.past_abilities | join(', ')}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Paginación -->
    <nav class="mt-4">
      <ul class="pagination justify-content-center">
        {% for p in range(1, total_pages + 1) %}
        <li class="page-item {% if p == page %}active{% endif %}">
          <a class="page-link" href="?search={{ search_query }}&page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    {% else %}
      <p class="text-center">No se encontraron Pokémon.</p>
    {% endif %}
  </div>
</body>
</html>

